<template name="home">
	<div class="content-wrapper" id="content-wrapper">
		<section id="slide-1" class="waterpainting bcg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 overlay hsContainer">
						<div class="brand-overlay hsContent">
							<h1 class="brand-name">ZephyrWare</h1>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section id="company-info">
			<div class='scrollformore'>
				Scroll for more
				<br>
				<i class="fa fa-chevron-down"></i>
			</div>

			<section id="whoarewe" class="white">
				<div class='container'>
					<div class="col-xs-12">
						<div class="section-title">
							Who are we?
							<div class="zephyrware-logo wow rollIn">
								<img src="images/logo.png">
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						ZephyrWare is a small company made up of 2 professional web developers, Denny Scott and Travis Scott.  We work professionally as web developers, as well as with our buisness partner at Moonlite Studios. We created ZephyrWare as a place to work on individual projects and showcase our products.  We have constructed web apps for places like Concord Ltd., The University of Winnipeg, and Manitoba Police Commission.
						<div class="headshot-wrapper">
							<img src = "images/denny.JPG" class="img-rounded headshots wow bounceInLeft">
							<br>
							Denny Scott
							<br>
							<div class = "col-xs-12">
								<div class="personal-links wow bounceInUp">
									<div class="other-info col-md-offset-2 col-md-2"><a href="https://github.com/DennyScott" class="user-link" ><i class="fa fa-github"></i><div class="shrink"><small>Github</small></div></a></div>
									<div class="other-info  col-md-2"><a href="https://twitter.com/moonliteDev" class="user-link"><i class="fa fa-twitter"></i><div class="shrink"><small>Twitter</small></div></a></div>
									<div class="other-info  col-md-2"><a href="docs/DennyScottResume.docx" class="user-link"><i class="fa fa-laptop"></i><div class="shrink"><small>Resume</small></div></a></div>
									<div class="other-info  col-md-2"><a href="docs/CV.docx" class="user-link"><i class="fa fa-paste"></i><div class="shrink"><small>CV</small></div></a></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6">
						 We take pride in being full stack developers, handling every aspect of a web application.
 At ZephyrWare, we strive to be the best we can be through technology and design by staying true to our motto “keep it simple”.  We believe in web apps being simplistic yet elegant to create an experience that the user will enjoy and remember.  Enjoy the site, grab our resumes, and be sure to check out our blog!

						<div class="headshot-wrapper">
							<img src = "images/travis.jpg" class="img-rounded headshots wow bounceInRight">
							<br>
							Travis Scott
							<br>
							<div class = "col-xs-12">
								<div id="blog-hook" class="personal-links wow bounceInUp">
									<div class="other-info col-md-offset-2 col-md-2"><a href="https://github.com/Gizmmo" class="user-link" ><i class="fa fa-github"></i><div class="shrink"><small>Github</small></div></a></div>
									<div class="other-info  col-md-2"><a href="https://twitter.com/gizmmo_moonlite" class="user-link"><i class="fa fa-twitter"></i><div class="shrink"><small>Twitter</small></div></a></div>
									<div class="other-info  col-md-2"><a href="docs/Resume.docx" class="user-link"><i class="fa fa-laptop"></i><div class="shrink"><small>Resume</small></div></a></div>
									<div class="other-info  col-md-2"><a href="docs/CV.docx" class="user-link"><i class="fa fa-paste"></i><div class="shrink"><small>CV</small></div></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="OurBlog" class="OurBlog">
				<div class="title_bar">
					Check out our Blog!
					<div id="x_button" class="x">×</div>
				</div>
				<div class="blog_content col-xs-12">
                <!-- Your cute face -->
                <a id="avatar" class="avatar col-xs-2" style="background-image: url(/images/Wind.jpg);" target="_top" href="https://www.tumblr.com/register/follow/d">
                    <img id="avatar_img" src="/images/Wind.jpg" width="38" height="38" alt="">
                </a>

                <!-- Name/title -->
                <a id="name_title" class="blog_name_title col-xs-7" target="_blank" href="http://blog.zephyr-ware.com">
                    <span id="name" class="blog_name">Web & Games</span>
                    <span id="title" class="blog_title">blog.zephyrware.com</span>
                </a>

                <!-- Follow button -->
                <a id="btn_follow" class="blog_button blue follow" target="_blank" href="http://blog.zephyr-ware.com"><i class="fa fa-pencil"></i>     See Blog</a>
            </div>
			</div>
			</section>

			

			<section id="ourprojects" class="grey">
				<div class='container'>
					<div class="col-xs-12">
						<div class="section-title">
							Our Projects
						</div>
					</div>
					<div class="col-xs-12 demos">
						<nav class="align-center who-list">
							<a class="what selected" id="web">
								Web
							</a>
							<a class="who" id="games">
								Games
							</a>
						</nav>
						<div id="web-content">
							<div id="work-content">



								<!--First Project -->
								<div class="project-content row">
									<div class="col-xs-7 wow slideInLeft">
										<div class="preview pleft transit">
											<div class="phone right">
												<div class="top">
													<div class="camera">
														<span></span>
													</div>
													<div class="speaker">
														<span></span>
													</div>
												</div>
												<img src="/images/ConcloudMobile.png">
												<div class="bottom"><div><span></span></div></div>
											</div>
											<div class="browser cond">
												<div class="top">
													<ul><li></li><li></li><li></li></ul>
													<span>Concord.com/Concloud</span>
												</div>
												<img src="/images/concloud.gif">
											</div>
										</div>
									</div>
									<div class="col-xs-5 wow slideInRight infoside">
										<div class="info iright transit">
											<h1>Concloud</h1>
											<div class="platform">
												<h6 class="caps">Platform:</h6>
												<img src="images/icons/pweb.png">
												<img src="images/icons/pmobile.png">
												<img src="images/icons/ptablet.png"></div>
												<p>Concloud is a file sharing cloud application that was created for our client Concord Ltd that allows users to upload or download documents.  Users are given rights for folders and projects, and will receive notifications when they are updated. </p>
												<a class="button studylink" href="https://github.com/DennyScott/ConcloudTemp">View Project</a>
												<a class="button livelink" href="http://concloudtest.meteor.com" target="_blank">Visit Live Site</a>
											</div>
										</div>
									</div>

									<!-- End Of Project -->

									<hr>

									<!--Second Project -->
									<div class="project-content row">
										<div class="col-xs-5 wow slideInLeft infoside">
											<div class="info iright transit">
												<h1>University of Winnipeg</h1>
												<div class="platform">
													<h6 class="caps">Platform:</h6>
													<img src="images/icons/pweb.png">
													<img src="images/icons/pmobile.png">
													<img src="images/icons/ptablet.png"></div>
													<p>A Web Application for the University of Winnipeg Applied Computer Science Faculty that allows users with minimal technical knowledge the ability to upload new pages and event to the faculty’s home page with no coding needed what so ever. </p>
													<a class="button studylink" href="https://github.com/DennyScott/ACSWebsite/tree/master/bestmobile">View Project</a>
													<a class="button livelink" href="http://www.acs.uwinnipeg.ca" target="_blank">Visit Live Site</a>
												</div>
											</div>

											<div class="col-xs-7 wow slideInRight">
												<div class="preview pleft transit">
													<div class="browser right">
														<div class="top">
															<ul><li></li><li></li><li></li></ul>
															<span>www.acs.uwinnipeg.ca</span>
														</div>
														<img src="/images/acs.png">
													</div>
												</div>
											</div>
										</div>
										<!-- End Of Project -->

										<hr>

										<!--Third Project -->
										<div class="project-content row">
											<div class="col-xs-7 wow slideInLeft">
												<div class="preview pleft transit">
													<div class="phone right">
														<div class="top">
															<div class="camera">
																<span></span>
															</div>
															<div class="speaker">
																<span></span>
															</div>
														</div>
														<img src="/images/globalMobile.png">
														<div class="bottom"><div><span></span></div></div>
													</div>
													<div class="browser cond">
														<div class="top">
															<ul><li></li><li></li><li></li></ul>
															<span>globalgarden.meteor.com</span>
														</div>
														<img src="/images/global.gif">
													</div>
												</div>
											</div>
											<div class="col-xs-5 wow slideInRight infoside">
												<div class="info iright transit">
													<h1>Global Garden</h1>
													<div class="platform">
														<h6 class="caps">Platform:</h6>
														<img src="images/icons/pweb.png">
														<img src="images/icons/pmobile.png"><span>
														<img src="images/icons/ptablet.png"></span></div>
														<p>Global Garden is a web application that allows a user moderate a garden in a sleek environment and set up rules for when heaters and pumps will turn on and off.  While this project doe connect to an external pi to actually water and heat a garden, it is hooked up to Plant AI for demo purposes currently.</p>
														<a class="button studylink" href="https://github.com/DennyScott/globalgarden">View Project</a>
														<a class="button livelink" href="http://globalgarden.meteor.com" target="_blank">Visit Live Site</a>
													</div>
												</div>
											</div>

											<!-- End Of Project -->

											<hr>

											<!--Fourth Project -->
											<div class="project-content row">
												<div class="col-xs-5 wow slideInLeft infoside">
													<div class="info iright transit">
														<h1>Stride</h1>
														<div class="platform">
															<h6 class="caps">Platform:</h6>
															<img src="images/icons/pweb.png"><span>
															<img src="images/icons/pmobile.png"></span><span>
															<img src="images/icons/ptablet.png"></span></div>
															<p>Stride is an application students can use to ask questions about programming to their peers in the Applied Computer Science Student Association, and others can answer to generate points.  Students that help can earn badges and see their ranks based on questions they have answered. </p>
															<a class="button studylink" href="https://github.com/DennyScott/Stride">View Project</a>
															<a class="button livelink" href="http://stridecs.com" target="_blank">Visit Live Site</a>
														</div>
													</div>

													<div class="col-xs-7 wow slideInRight">
														<div class="preview pleft transit">
															
															<div class="browser right">
																<div class="top">
																	<ul><li></li><li></li><li></li></ul>
																	<span>www.stridecs.com</span>
																</div>
																<img src="/images/stride.gif">
															</div>
														</div>
													</div>
												</div>
												<!-- End Of Project -->

												<hr>

												<!--Fifth Project -->
												<div class="project-content row">
													<div class="col-xs-7 wow slideInLeft">
														<div class="preview pleft transit">
											
															<div class="browser">
																<div class="top">
																	<ul><li></li><li></li><li></li></ul>
																	<span>Concord.com/Concloud</span>
																</div>
																<img src="/images/mpc.png">
															</div>
														</div>
													</div>
													<div class="col-xs-5 wow slideInRight infoside">
														<div class="info iright transit">
															<h1>Police Commission</h1>
															<div class="platform">
																<h6 class="caps">Platform:</h6>
																<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																<p>A static website constructed using a multitude of client side libraries outlining the policies and procedures developed by Manitoba Police Commission. Launching soon.</p>
																<a class="button studylink" href="https://github.com/DennyScott/mpc">View Project</a>
																<a class="button livelink" href="http://dennyscott.github.io/mpc" target="_blank">Visit Live Site</a>
															</div>
														</div>
													</div>

													<!-- End Of Project -->
												</div>
											</div>
											<!-- End of Web -->


											<!--Games -->
											<div id="game-content">
												<div id="work-content">
													<!--First Project -->
													<div class="project-content row">
														<div class="col-xs-7 wow slideInLeft">
															<div class="preview pleft transit">
																
																<div class="browser">
																	<div class="top">
																		<ul><li></li><li></li><li></li></ul>
																		<span>CodeJam</span>
																	</div>
																	<img src="/images/unity.png">
																</div>
															</div>
														</div>
														<div class="col-xs-5 wow slideInRight infoside">
															<div class="info iright transit">
																<h1>Code Jam</h1>
																<div class="platform">
																	<h6 class="caps">Platform:</h6>
																	<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																	<p>Created and run by the two of us at the University of Winnipeg, we volunteer weekly to get students eager to make games a place where we can all hang out and construct games together and help each other out.  We have a public drop box of games where we can just drop out recent creations into.</p>
																	<!-- <a class="button livelink" href="http://concloudtest.meteor.com" target="_blank">Download For Windows</a> -->
																</div>
															</div>
														</div>

														<!-- End Of Project -->

														<hr>

														<!--Second Project -->
														<div class="project-content row">
															<div class="col-xs-5 wow slideInLeft infoside">
																<div class="info iright transit">
																	<h1>Mega Man Prototype</h1>
																	<div class="platform">
																		<h6 class="caps">Platform:</h6>
																		<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																		<p>A regular project made at the Code Jam, this game is a simple game using boxes for character sprites that demo’s the way a mega man game would be created and used.  Be warned, there is a boss, and you will probably lose… but he has been defeated.</p>
																		<a class="button livelink" href="/megaman.zip" target="_blank">Download For Windows</a>
																	</div>
																</div>

																<div class="col-xs-7 wow slideInRight">
																	<div class="preview pleft transit">
																	
																		<div class="browser right">
																			<div class="top">
																				<ul><li></li><li></li><li></li></ul>
																				<span>Megaman</span>
																			</div>
																			<img src="/images/megaman.gif">
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Of Project -->

															<hr>

															<!--Third Project -->
															<div class="project-content row">
																<div class="col-xs-7 wow slideInLeft">
																	<div class="preview pleft transit">
																		
																		<div class="browser ">
																			<div class="top">
																				<ul><li></li><li></li><li></li></ul>
																				<span>Neutropia</span>
																			</div>
																			<img src="/images/unity.png">
																		</div>
																	</div>
																</div>
																<div class="col-xs-5 wow slideInRight infoside">
																	<div class="info iright transit">
																		<h1>Neutropia</h1>
																		<div class="platform">
																			<h6 class="caps">Platform:</h6>
																			<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																			<p>Originally designed to show students the concepts of OO programing, Neutropia is a game in which you start of in a large empty field walking around, and then can zoom out and build a simple town, now able to zoom in and walk around with your character in the new town you have created.</p>
																			<!-- <a class="button livelink" href="" target="_blank">Download For Windows</a> -->
																		</div>
																	</div>
																</div>

																<!-- End Of Project -->

																<hr>

														<!--Fourth Project -->
														<div class="project-content row">
															<div class="col-xs-5 wow slideInLeft infoside">
																<div class="info iright transit">
																	<h1>Archie</h1>
																	<div class="platform">
																		<h6 class="caps">Platform:</h6>
																		<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																		<p>Created by Travis, Denny, and Nick Reid, Archie is a 2d top down RPG in the vein of Pokémon, where instead of fighting, you take on the persona of Archie, a nerdy bespectacled fellow who wants to prove to his father he is brave by travelling the world solving the worlds puzzles.</p>
																		<!-- <a class="button livelink" href="" target="_blank">Download for Windows</a> -->
																	</div>
																</div>

																<div class="col-xs-7 wow slideInRight">
																	<div class="preview pleft transit">
																		
																		<div class="browser  right">
																			<div class="top">
																				<ul><li></li><li></li><li></li></ul>
																				<span>Archie</span>
																			</div>
																			<img src="/images/archie.gif">
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Of Project -->

															<hr>

															<!--Fifth Project -->
															<div class="project-content row">
																<div class="col-xs-7 wow slideInLeft">
																	<div class="preview pleft transit">
																		
																		<div class="browser">
																			<div class="top">
																				<ul><li></li><li></li><li></li></ul>
																				<span>Dimension Quaternion</span>
																			</div>
																			<img src="/images/unity.png">
																		</div>
																	</div>
																</div>
																<div class="col-xs-5 wow slideInRight infoside">
																	<div class="info iright transit">
																		<h1>Dimension Quaternion</h1>
																		<div class="platform">
																			<h6 class="caps">Platform:</h6>
																			<img src="images/icons/pweb.png"><span>
																<img src="images/icons/pmobile.png"></span><span>
																<img src="images/icons/ptablet.png"></span>
															</div>
																			<p>A game just recently started by Travis, Denny, and Yaphet Abraha at the Game Jams, this game uses the mechanics of have 2 players controlled by you at once in 2 separate dimensions.  You must control both of them to solve the levels puzzle and reach the door together.</p>
																			<!-- <a class="button livelink" href="" target="_blank">Download for Windows</a> -->
																		</div>
																	</div>
																</div>

																<!-- End Of Project -->
															</div>
														</div>
													</div>
												</div>
											</section>

											<section id="contactus" class="white">
												<div class='container'>
													<div class="col-xs-12">
														<div class="section-title">
															Contact Us
														</div>
													</div>
													<div id="contact-content">
														<div class="col-xs-12 tag-center">
															<span class="tagline">Discuss a project with us today!</span>

														</div>
														<div class="row container contact-container">
															<ul class = "contact-types col-md-12 wow bounceInUp">
																<li class="contact-method col-md-offset-2 col-md-2">
																	<a href="mailto:moonlitestudio1@gmail.com">
																		<i class="circle">
																			<i class="fa fa-envelope"></i>
																			<i class="pulse circle"> </i>
																		</i>
																		<h4 class="secondary">Email</h4>
																	</a>

																</li>

																<li class="contact-method col-md-2">
																	<i class="circle">
																		<i class="fa fa-phone"></i>
																	</i>
																	<h4 class="secondary">Phone</h4>
																</li>

																<li class="contact-method col-md-2">
																	<a href="https://twitter.com/MoonliteStudio1">
																		<i class="circle">
																			<i class="fa fa-twitter"></i>
																			<i class="pulse circle"> </i>
																		</i>
																		<h4 class="secondary">Twitter</h4>
																	</a>

																</li>

																<li class="contact-method col-md-2">
																	<a href="#">
																		<i class="circle">
																			<i class="fa fa-calendar"></i>
																			<i class="pulse circle"> </i>
																		</i>
																		<h4 class="secondary">Schedule</h4>
																	</a>

																</li>
															</ul>
														</div>

														<div class="clear"></div>
													</div>
												</div>
											</section>
											<section class="black">
												<footer>
													Copyright &copy; ZephyWare Winnipeg, Manitoba, All Rights Reserved
												</footer>
											</section>
										</section>
									</div>
								</template>